<div id="footer">
    <div class="footer-logos">
        <a href="https://www.facebook.com" target="_blank">
            <img src="assets/images/facebook-icon.png" alt="Fb">
        </a>
        <a href="https://www.twitter.com" target="_blank">
            <img src="assets/images/twitter-icon.png" alt="X">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="assets/images/instagram-icon.png" alt="Ig">
        </a>
    </div>
    <div class="phone-number">
        <p>000-000-0000</p>
    </div>
</div>