#home-entertain{
    background-color: rgb(0, 177, 236);
    height: auto;
    width: 100%;
    padding: 10px;
}
#home-entertain p{
    text-align: center;
    font-size: 30px;
    color: white;
    vertical-align: baseline;
}

#home-title{
    height: 400px;
    width: 100%;
    text-align: center;
    background-image: url('https://www.montrealinternational.com/app/uploads/2021/12/bandeau2.jpg');
    background-size: cover;
}

#home-title h1{
    font-size: 50px;
    color: grey;
    text-align: center;
}

#home-title p{
    color: grey;
}